---
import IntroCard from "@/components/svelte/IntroCard.svelte";
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

import { Content } from "@/data/intro.md";
import type { loadTSConfig } from "node_modules/astro/dist/core/config";
---

<!-- [&>*]:h-1/2 --><!-- [&>*]:min-h-[calc((100vh-40px-theme(space.6))/2)] -->
<BaseLayout title="MainLayout">
    <section
        class="grow grid-container grid gap-2 p-2 [&>*]:min-h-[calc((100vh-40px-theme(space.6))/2)]
        grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
        grid-rows-2"
    >
        <IntroCard client:only="svelte">
            <Image
                slot="profile-picture"
                src="https://avatars.githubusercontent.com/u/51464337?v=4"
                width="180"
                height="180"
                alt="Felix Ha Github profile"
            />
            <Content slot="intro-md" />
        </IntroCard>
        <slot />
    </section>
</BaseLayout>
