---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<!-- [&>*]:h-1/2 --><!-- [&>*]:min-h-[calc((100vh-40px-theme(space.6))/2)] -->
<BaseLayout title={`${title} | felix ha`}>
    <section
        class="grow grid-container grid gap-2 p-2 [&>*]:min-h-[calc((100vh-40px-theme(space.6))/2)]
        grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
        grid-rows-2"
    >
        <slot />
    </section>
</BaseLayout>
